ADMIN_PASSWORD=Kangtul05
JWT_SECRET=ganti_dengan_random_string_panjang_rahasia
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/YOUR_WEBHOOK_ID/YOUR_WEBHOOK_TOKEN
API_SECRET=ganti_dengan_api_secret_rahasia
DB_PATH=./data/database.db
